.MessageProducer.wavedev
.ex.MessageProducer.wavedev
.md5sums
.project
.pydevproject
.settings/gov.redhawk.ide.sdr.ui.prefs
python/aclocal.m4
python/autom4te.cache/
python/config.log
python/config.status
python/configure
python/install-sh
python/m4/
python/Makefile
python/Makefile.in
python/missing
python/.md5sums
tests/.md5sums
